Thumbs.db

*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
*.vshost.exe

/Debug
/Setup
/TestsBig

*.ldb
*.laccdb
*.tmp
~$*
*.msi


